<div class="container-fluid">

  <div class="row">
    <h2>Plan To Text!</h2>
  </div>
  <div class="row">
    <div>Text-To-Plan is an app where you can add events to your bookmarks and have reminders be sent automatically to you.</div>
  </div>
</div>


