<div class="container-fluid">
  <h2 class="text-center">Create a new reminder</h2>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <%= render partial: 'form' %>
    </div>
  </div>
</div>

