<!-- list of all the users -->
<div class="container fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>Add Friends</h2>
      <table id="users">
        <% for user in @users %>
          <tr class="users">
            <!-- if user.id == current_user.id, hide. -->
              <td><strong><%= link_to user.first_name, users_path(user) %></strong>
              (<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>)</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>