<!-- list of all the users -->
<div class="container fluid">
  <ul id="users">
    <% for user in @users %>
      <li class="users">
          <span><strong><%= user.first_name + " " + user.last_name %></strong>
          <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></span>
      </li>
    <% end %>
  </ul>
</div>
