<!-- list of all the users -->
<% title "User List" %>

<div id="users">
  <% for user in @users %>
    <div class="users">
      <p>
        <strong><%= user.username %></strong>
        <%= link_to "Add Friend", friendships_path(:friend_id => user)%>
        <div class="clear"></div>
      </p>
    </div>
  <% end %>
</div>