<h2>Users List</h2>
<% title "User List" %>

<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%= user.first_name %></strong>
        <!-- friend_id as user so that will pass in the user id as well -->
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>