<h2><%= current_user.first_name %> <%=current_user.last_name %>'s Profile</h2>



<h4>Friends</h4>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= h friendship.friend.username %>
      (<%= link_to "Remove", friendship_path(friendship), :method => :delete %>)
    </li>
    <% end %>
</ul>