<h1>Home#index</h1>
<p>Home page after logging in</p>
<!-- single page app with search bar and results being displayed. -->


<!-- search bar -->

<div><% simple_form_for %></div>
<!--  -->

<!-- manual add -->
<div><% simple_form_for %></div>

<!-- display search results below -->
<div>
  <%@results.each do |result|%>
</div>
