/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 */
// all styles go in here
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Nunito);

*{
  font-family: 'Nunito', sans-serif;
}

h4 {
  margin-top: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#signup-title {
  color: #0080FF;
  font-size: 35px;
  margin-top: 20px;
}

#signup-description {
  color: #0080FF;
  font-size: 25px;
}

#signup-form {
  border: 5px solid black;
  border-radius: 5%;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

#eventbrite-search input {
  width: 100%;
  clear: both;
}

body {
  background-image: url(image_path('concrete_seamless.png'))
}

.searchRes, .bookmarkDiv{
  border: 2px solid black;
  border-radius: 2%;
  margin: 4px;
  padding: 8px;
}

.searchTitle, .bookmark.title {
  text-align: center;
  font-weight: bold;
}

.searchImage {

}

.searchDes {

}

.searchDate {

}

.searchTime {

}

.bookmarkDiv {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.bookmark.specifics {
  float: right;
  width: 75%;
  text-align: center;
}

#bookmark-links {
  display: inline;
}

.bookmarkDiv img {
  width: 25%;
  height: 100%;
  float: left;
}

#profile-column img {
  display: block;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
}

#followers, #profile-column {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}




