/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 */
// all styles go in here
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Nunito);

*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  display: block;
}

.btn {
  margin: 2px;
}

body {
  // background-image: url(image_path('concrete_seamless.png'))
  background-color: #C0C0C0;
}

.jsondata {
  visibility: hidden;
}

h4 {
  margin-top: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#signup-title {
  color: #0080FF;
  font-size: 35px;
  margin-top: 20px;
}

#signup-description {
  color: #0080FF;
  font-size: 25px;
}

#signup-form {
  border: 5px solid black;
  border-radius: 5%;
  background: #eee;
  padding: 20px;
  margin: 5px;
}

#signed-up {
  text-align: center;
}

#facebook {
  text-align: center;
  margin: 10px;
}

#eventbrite-search {
  text-align: center;
}
#eventbrite-search input {
  width: 100%;
  clear: both;
}

#search-button, .newReminderBtn, .long-btn {
  display: inline-block;
  width: 100%;
}

#api-results {
  overflow: hidden;
  margin: 0 auto;
}

.searchRes {
  border: 4px solid #FF8243;
  background: #EBAB46;
  display: inline-block;
  width: 46%;
  height: 250px;
  padding: 10px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
}

.searchTitleDateTime {
  text-align: center;
  font-weight: bold;
}

.searchRes img {
  padding: 2px;
  margin: auto;
  width: 70%;
  height: 100px;
}

.searchDes {
  display: inline-block;
  margin: 0 auto;
  height: 30px;
  text-align: center;
}

.searchResBtn {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #C0C0C0;
}
.searchResBtn:hover {
  background-color: #00cc00;
}

.saveBookmark {
  float: right;
}

.bookmark.title {
  text-align: center;
  font-weight: bold;
}

.bookmarkDiv {
  background: #EBAB46;
  border: 2px solid black;
  margin: 4px;
  padding: 8px;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.bookmark.specifics {
  float: right;
  width: 75%;
  text-align: center;
}

#bookmark-links {
  display: inline;
}

.bookmarkDiv img {
  width: 25%;
  height: 100%;
  float: left;
}

.btn-group {
  margin: 0 auto;
}

#profile-column img {
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
}

#followers, #profile-column {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}




