/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 */
// all styles go in here
@import "bootstrap-sprockets";
@import "bootstrap";

#eventbrite-search input {
  width: 100%;
  clear: both;
}

body {
  background-image: url(image_path('concrete_seamless.png'))
}


.searchRes, .bookmarkDiv{
  border: 1px solid black;
  margin: 4px;
  padding: 8px;
}

.searchTitle, .bookmark.title {
  text-align: center;
  font-weight: bold;
}

.searchImage {

}

.searchDes {

}

.searchDate {

}

.searchTime {

}

.image img {
  max-width: 150px;
  max-height: 150px;
  float: left;
}



