<div class="container-fluid">
  <div class="row">
  <% @bookmarks.each do |bookmark| %>
    <%= bookmark.title %>
    <% end %>
    <div class="col-xs-6 col-xs-offset-3">
      <h2 class="text-center">Search for an Event!</h2>
        <form id="eventbrite-search" data-user_id="<%= current_user.id %>">
          <div class="form-group">
            <label for="keyword-box" class="sr-only">Keyword</label>
            <input id="keyword-box" type="text" name="keyword" class="form-control" placeholder="Keyword">
          </div>
          <div class="form-group">
            <label for="city-box" class="sr-only">City</label>
            <input id="city-box" type="text" name="city" class="form-control" placeholder="City">
          </div>
          <div class="form-group">
            <label for="start-box" class="sr-only">Start Date</label>
            <input id="start-box" type="text" onfocus="(this.type='date')" name="start" class="form-control" placeholder="Start Date">
          </div>
          <div class="form-group">
            <label for="end-box" class="sr-only">End Date</label>
            <input id="end-box" type="text" onfocus="(this.type='date')" name="end" class="form-control" placeholder="End Date">
          </div>
          <button type="submit" id="searchButton" class="btn btn-primary">Search!</button>
        </form>

      </div>

    </div>
  <div class="row" id="bottom-row">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="api-results">

      </div>
    </div>
  </div>

</div>





