      <script>
        function verifyThat() {
          if($("#keyword-box").val()!="" && $("#city-box").val()!="" && $("#start-box").val() && $("#end-box").val()) {
            return true;
          } else {
            return false;
          }
        }
        function renderSearchResultPartial(value) {
          $("<div class='searchRes'><div class='searchTitle'>"+value.title+"</div><img class='searchImage' src=\""+value.image+"\"></img><div class='searchDes'>"+value.description+"</div><div class='searchTime'>"+value.time+"</div></div>").appendTo("#api-results");
            applyButton(value);
        }
        function applyButton(value) {
          var newValue = value;
          var button = `<button onclick='$.ajax({
                                            url: "/users/"+<%= !@current_user.nil? ? @current_user.id : 1 %>+"/bookmarks", 
                                            dataType: "json", 
                                            type: "POST", 
                                            data: { 
                                              bookmark: ${JSON.stringify(newValue)} 
                                            }
                                          });
            $(this).text("Bookmark Saved")'>Save Bookmark!</button>`;
        $(button).appendTo("#api-results");
        }      
      </script>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2 class="text-center">Search for an Event!</h2>
        <form id="eventbrite-search">
          <div class="form-group">
            <label for="keyword-box" class="sr-only">Keyword</label>
            <input id="keyword-box" type="text" name="keyword" class="form-control" placeholder="Keyword">
          </div>
          <div class="form-group">
            <label for="city-box" class="sr-only">City</label>
            <input id="city-box" type="text" name="city" class="form-control" placeholder="City">
          </div>
          <div class="form-group">
            <label for="start-box" class="sr-only">Start Date</label>
            <input id="start-box" type="text" onfocus="(this.type='date')" name="start" class="form-control" placeholder="Start Date">
          </div>
          <div class="form-group">
            <label for="end-box" class="sr-only">End Date</label>
            <input id="end-box" type="text" onfocus="(this.type='date')" name="end" class="form-control" placeholder="End Date">
          </div>
           
        </form>
        <button class="btn btn-primary"id="searchButton" onclick='if(verifyThat()){
              $.ajax({
                url:  "/search_apis",
                dataType: "json",
                data: {
                   keyword: $("#keyword-box").val(),
                   city: $("#city-box").val(),
                   start_date: $("#start-box").val(),
                   end_date: $("#end-box").val()
                },
                success: function(data) {
                  $.each(data, function(index, value) {
                    renderSearchResultPartial(value);
                  });}});}
            '>Search!</button>
        
          
      </div>

    </div>
  <div class="row" id="bottom-row">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="api-results">
      </div>
    </div>
  </div>




</div><!-- closing fluid -->





